@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');
body {
  background-color: #20252A;
}
.my-navbar {
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px black;
}
.my-icon {
  font-family: 'Special Elite', cursive;
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-link {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 36px;
  font-weight: 600;
}
.name-background {
  height: 155px;
  width: 235px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -120px;
  transform: rotate(-20deg);
  filter: blur(4px);
  z-index: -1;
}
.line-top {
  background-color: white;
  height: 10px;
  width: 200px;
  border-radius: 15px;
}
.line-bottom {
  @extend .line-top;
  width: 205px;
  float: right;
  margin-right: 3px;
}
.my-name-first {
  font-family: 'Special Elite', cursive;
  font-size: 72px;
  color: white;
  margin-top: -15px;
  margin-left: 2px;
}
.my-name-last {
  @extend .my-name-first;
  text-align: right;
  margin-top: -65px;
  margin-bottom: -20px;
}
.my-nameplate {
  background-color: transparant;
  height: 300px;
  width: 700px;
  position: relative;
  margin: 350px auto 200px auto;
}
.name-text {
  font-family: 'Righteous', cursive;
  font-size: 48px;
  color: white;
  position: absolute;
}
.first-name {
  top: 45px;
  left: 72px;
}
.last-name {
  top: 45px;
  left: 468px;
}
.left-text {
  font-family: 'Caveat', cursive;
  font-size: 82px;
  font-weight: bold;
  top: 170px;
  left: 5px;
}
.right-text {
  @extend .left-text;
  left: 520px;
}
.upper-left {
  background-color: white;
  height: 28px;
  width: 160px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: 87px;
  left: 67px;
  z-index: 0;
}
.lower-left {
  @extend .upper-left;
  width: 215px;
  top: 187px;
  left: 7px;
}
.upper-right {
  @extend .upper-left;
  left: 465px;
}
.lower-right {
  @extend .upper-left;
  width: 225px;
  top: 187px;
  left: 472px;
}
.photo-container {
  background-color: white;
  height: 285px;
  width: 285px;
  position: absolute;
  top: 5%;
  left: 29%;
  border-radius: 150px;
  z-index: 1;
  img {
    height: 265px;
    width: 265px;
    border-radius: 150px;
    margin: 10px 10px;
  }
}
.section-header {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 48px;
  color: white;
  margin-top: 100px;
}
.section-header:before {
  content: "<"
}
.section-header:after {
  content: ">//"
}
.aboutme-container {
  background-color: black;
  height: 660px;
  width: 95%;
  border-radius: 25px;
  box-shadow: 1px 1px 20px 0.2px black;
  position: relative;
  margin: 0 auto 200px auto;
  overflow: auto;
  opacity: 0.7;
}
.self-description {
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  font-weight: bold;
  text-align: justify;
  color: white;
  padding: 0 10px 0 10px;
}
.projects-container {
  @extend .aboutme-container;
  background-color: transparent;
  height: auto;
  box-shadow: none;
  opacity: 1.0;
}
.project-object {
  background-color: white;
  height: auto;
  width: 95%;
  position: relative;
  margin: 10px 10px 25px 10px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 0;
  img {
    height: auto;
    width: 100%;
    border-radius: 15px;
  }
  .git-link {
    background-color: black;
    position: absolute;
    top: 75%;
    left: 2%;
    z-index: 2;
  }
  .git-link:hover {
    box-shadow: 1px 1px 10px 2px white;
  }
}
.server-notice {
  @extend .self-description;
  font-size: 22px;
  margin: 0px 0 0 10px;
}
.proficiencies-container {
  @extend .aboutme-container;
  background-color: white;
  img {
    height: auto;
    width: 100%;
    margin: 10px 0 0 10px;
  }
}
.contact-container {
  @extend .aboutme-container;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  h3 {
    color: white;
    margin-left: 25px;
  }
  a {
    margin: 25px;
  }
  .contact-button:hover {
    box-shadow: 1px 1px 10px 2px white;
  }
  .linked-in {
    background-color: #0077B5;
  }
  .facebook {
    background-color: #3B5998;
  }
}
//Scroll-bar modification
::-webkit-scrollbar {
    width: 0px;
}
